* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    width: 100%;
}


/* Encabezado*/

header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: black;
    box-shadow: 0 5px 15px rgb(0, 0,0.6) ;
    /* z-index: 999;
    position: sticky;
    top: 0;
    left: 0; */
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li {
    list-style: none;  /*Para quitar el punto de la lista */
    margin-top: 25px;
    padding: 0 25px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    transition: 0.3s ease;
}
#navbar li a:hover, #navbar li a.active {
    color: blueviolet;
}

#navbar li a.active::after, #navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: blueviolet;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
main{
    /* background-image: url("img/rick-and-morty-BackGround.jpg");  */
    background-image: url("img/Space.jpg");  
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding-left: 400px;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    color: whitesmoke;
}
#filter{
    display: inline;
    position:center;
}

.select{
    /* order: 50px; */
    width: 150px;
    height: 30px;
    background-color: #13c4c4;
    border-radius: 5px;
    margin-top: 50px;
    color: #1a4121;
    font-size: 15px;
    box-shadow: 3px 3px 7px 1px #898989;
    cursor: pointer;
    
}
.btn_src{
    width: 100px;
    height: 30px;
    background-color: #640c5c;
    border-radius: 5px;
    margin-top: 100px;
    color: #f2fbf4;
    font-size: 15px;
    box-shadow: 3px 3px 7px 1px #898989;
    cursor: pointer;
    display: flexbox;

}

#Buttons{
    margin-top:2%;
    margin-left: 8%;
}
#List{
    margin-bottom: 1%;
    margin-top: 10%;
    background-color:#1a5c29;
    width: 50%;
}