

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'IBM Plex Mono', monospace;
 
    
}
body {
    width: 100%;
    background-image: url("img/Space.jpg");   
}


/* Encabezado*/

header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: black;
    box-shadow: 0 5px 15px rgb(0, 0,0.6) ;
    z-index: 4;
    position: sticky;
    top: 0;
    left: 0;
}
.menu-icon{
    display: none;

}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

#navbar li {
    list-style: none;  /*Para quitar el punto de la lista */
    margin-top: 25px;
    padding: 0 25px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    transition: 0.3s ease;
}
#navbar li a:hover, #navbar li a.active {
    color: #13c4c4;
}

#navbar li a.active::after, #navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #13c4c4;
    position: absolute;
    bottom: -4px;
    left: 20px;
}



main{
   
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 40px;
    display: block;
    align-items: flex-start;
    color: whitesmoke;
}


.statisticalMain{
    /* height: 300vh; */
    overflow: auto;
}

.graphics{
    margin: 9rem;
}

#presentacion{
    background-image:url("img/Fondo.jpg");
    background-size: cover; 
    background-position: top 25% right 0 ;
    height: 100vh;
    width: 100%;
    /* margin-top: 25px; */

}


#presetacion a:hover {
    color : white;

}
a:link {
    color: white;
  }
a:visited {
    color: white;
 }
 
.welcome{
    margin-top: 150px;
    margin-left: 20px;
    font-size: larger;
}


 #presentacion .welcome .wselect{
    width: 150px;
    text-align: center;
    padding: 5px 2px;
    box-shadow: 3px 3px 7px #898989 ;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: #13c4c4;
    color: white;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    margin-left: 150px;
}



#filter{
    
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 
} 

.resultCard {
    text-align: center;
    overflow: auto;
    height:70vh;
}

#filter .select{
    width: 150px;
    text-align: center;
    padding: 5px 2px;
    margin: 5px 2px;
    box-shadow: 3px 3px 7px #898989 ;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: #13c4c4;
    color: #1a4121;
    font-size: 15px;
    cursor: pointer;
    

}


#filter .search{
    width: 150px;
    height: 30px;
    border-radius: 3px;
    padding-left: 3.5px;

}

.init{
    background-color: #13C4C4;
}



* .cardDiv{
    padding: 0 10px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
} 

.cardBoxDiv {
    width: 200px;
    height: 200px;  
    background-color: #13C4C4;
    backdrop-filter: blur(40px); 
    text-align: center;
    border-radius: 5px;
    border: 2px solid  #14B1B1;
    margin:10px;
    color: #F2FBF4;
    font-size: 12px;
    padding: 10px 20px 10px;
 } 
 .cardBoxDiv img{
    width: 100px;

 }
 


 .contenedorModal{
    display: none;
    position: fixed;
    top: 30%; left: 24%;
    z-index:2;
    background-color: #f0f4f0;
    width: 40%;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    animation-name: modal;
    animation-duration: 2s;
    color: #000000;
    height: 65%;
    
 }
 .contenedorModal h2 {
    margin-top: 20px;
 }

 .contenedorModal img{
    width: 250px;
}

 .cardBoxDiv:hover{
    background-color: rgb(225, 246, 111);
    cursor: pointer;
}
.close{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    position: inherit;
    top: 30%;
    right: 37%;
}

.close:hover{
    color: rgb(6, 106, 113);
    text-decoration: none;
    cursor: pointer;
}

#chart{
    font-size: larger;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    border-color: #898989;
}
#charStatus{
    width: 100px;
    height: 200px;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    border-color: #898989;
    
}
#charLocation{
    width: 800px;
    height: 400px;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    border-color: #898989;
}
footer{
    display: grid;
    color: #13c4c4;
    text-align: center;
    padding: 20px 80px;
    background-color: black;
    box-shadow: 0 5px 15px rgb(0, 0,0.6) ;
   
}



@media only screen and (max-width: 880px) {
    
    header{
        display: block; 
        width: 100%;
        margin-top: 1rem;
        
    }
    header img{
    width: 100%;
    }

    .menu-icon{
        display: block;
        color: #F2FBF4;
        cursor: pointer;
        width: 2rem;
        margin-left: 50%;
    }
    #navbar{
        display: none;
        width: 100%;
        margin-top: 2rem;
        
    }

    #navbar ul{
        display:none;

    }

    #navbar.show{
        display:block;
        width: 100%;

    }
    /* /* #navbar ul li {
       /* display: block; */
       /* width: 100%; */
    /* }  */ 
    #navbar ul li a {
        text-decoration: none;
        display: block;
        padding: 0;
        font-size: 18px;
        font-weight: 600;
        color: whitesmoke;
        transition: 0.3s ease;
    }
    .welcome{
        margin-top: 10px;
        margin-left: 8px;
        font-size: medium;
        font-weight: 1000;
    }
    
    /* #navbar li a:hover, #navbar li a.active {
        color: #13c4c4;
    }
    
    #navbar li a.active::after, #navbar li a:hover::after {
        content: "";
        width: 30%;
        height: 2px;
        background-color: #13c4c4;
        position: absolute;
        bottom: -4px;
        left: 20px;
    }

    #filter{
        display: block;
        width: 100%;
    }
*/
    #filter .select{
        width: 100%;
    } 
    #filter .search{
        width: 100%;
    
    }
    .cardBoxDiv{
        width: 100px;
        height: 100px;
        font-size: 7px; 
        padding: 5px 10px; 
        margin: 5px;
    }

    .cardBoxDiv img {
        width:40px ;
    }

    .graphics{
        margin: 0rem;
    }

    .contenedorModal{
        width: 71%;
        top: 35%; left: 17%;
        z-index:5;
        padding-top: 3%;
        height: 42%;
    }
    .contenedorModal img{
        width: 10rem;
    }
    .contenedorModal h2 {
        margin-top: 10px;
    }
    .close{
        width: 25px;
        height: 25px;
        top: 35%; 
        right: 14%;
        background-color: #13C4C4;
        border-radius: 15px;
        font-size: 17px;
    }

    #chart{
        font-size: larger;
        background-color: white;
        margin-top: 20px;
        border-radius: 10px;
        border-color: #898989;
    }
    .charStatus{
        width: 800px;
        height: 400px;
        background: white;
        margin-top: 20px;
        border-radius: 10px;
        border-color: #898989;
        
    }
    #charLocation{
        width: 800px;
        height: 400px;
        background: white;
        margin-top: 20px;
        border-radius: 10px;
        border-color: #898989;
    }
 }

 


